.pageContainer{
    height: 100dvh;
    width: 100%;
    overflow: auto;
}

.page1{
    min-height: 100dvh;
    width: 100%;
    background-color: red;
    color: #000;
}
.page2{
    min-height: 100dvh;
    width: 100%;
    background-color: yellow;
    color: #000;
}
.page3{
    min-height: 100dvh;
    width: 100%;
    background-color: greenyellow;
    color: #000;
}

.progressBox{
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    border: 10% solid #000;
}