.scrollContainer{
    height: 100dvh;
    width: 100%;
    overflow: scroll;
}

.page1, .page2, .page3{
    min-height: 100dvh;
    width: 100%;
}

.scrollNavigator{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: red;
    height: 10px;
}

.navigator{
    height: 10px;
    background-color: gold;
    transition-duration: .3s;
}